#!/bin/sh
. ~/.bash_profile
sapcontrol -nr {{ dbnr }} -function StopSystem HDB

whoami
echo $SHELL
hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l )
echo $hproc

#while [ $hproc -gt 1 ]
#do
#  read -t 5 -p "I am going to wait for 5 seconds ..."
#  hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l )
#done
