#!/bin/sh
. ~/.profile

sapcontrol -nr {{ dbnr }} -function StopSystem HDB

sleep 60s
hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l )

while [ $hproc -gt 1 ]
do
  sleep 30s
  hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l )
done

sapcontrol -nr "{{ dbnr }}" -function StartSystem HDB

hproc=$(sapcontrol -nr "{{ dbnr }}" -function GetProcessList | grep GREEN | wc -l)

while [ $hproc -lt 7 ]
do 
  sleep 30s
  hproc=$(sapcontrol -nr "{{ dbnr }}" -function GetProcessList | grep GREEN | wc -l)
done
