#!/bin/bash
. ~/.bashrc
. ~/.profile
sapcontrol -nr {{ dbnr }} -function StopSystem HDB

#hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l )

#while [ $hproc -gt 1 ]
#do 
#  sleep 5s
#  hproc=$( sapcontrol -nr {{ dbnr }} -function GetProcessList | grep "Stopped\|Stopping" | wc -l ) 
#done
