#!/bin/sh
. ~/.profile
SrState=$(hdbnsutil -sr_state )
Chk1=$(echo "$SrState" | grep "^online" | cut -d ':' -f 2 | sed 's/^ //g')
Chk2=$(echo "$SrState" | grep "^is secondary/consumer system" | cut -d ':' -f 2 | sed 's/^ //g')
SiteName=$(echo "$SrState" | grep "^site name" | cut -d ':' -f 2 | sed 's/^ //g')

if [ $Chk1 == "false" -a $Chk2 == "false" ]
then
 hdbnsutil -sr_register --remoteHost={{ replica }} --remoteInstance={{ dbnr }} --replicationMode=async --name=$SiteName --operationMode=delta_datashipping

 sapcontrol -nr {{ dbnr }} -function StartSystem HDB 
 hproc=$(sapcontrol -nr {{ dbnr }} -function GetProcessList | grep GREEN | wc -l)

 while [ $hproc -lt 7 ]
 do
  sleep 30s
  hproc=$(sapcontrol -nr {{ dbnr }} -function GetProcessList | grep GREEN | wc -l)
 done

fi
