#!/bin/sh
. ~/.profile
DbStatus=$(R3trans -dx | grep "^R3trans finished" | cut -d '(' -f 2 | sed 's/[).]//g' )

if [ $DbStatus == "0000" ]
then 
 sapcontrol -nr {{ appnr }} -function StartSystem ABAP

 hproc=$(sapcontrol -nr {{ appnr }} -function GetProcessList | grep GREEN | wc -l)

 while [ $hproc -lt 4 ]
 do 
  sleep 30s
  hproc=$(sapcontrol -nr {{ appnr }} -function GetProcessList | grep GREEN | wc -l)
 done
fi
